<div class="container mt-5">
  <h1> Related news </h1>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-sm-4" *ngFor="let new of allNews">
      <div class="card elegant-color">
        <div class="view overlay" rel="noopener noreferrer" target="_blank">
          <a href="{{new.url}}">
            <img class="card-img-top" src="{{ new.urlToImage }}" onerror="this.src='../../../assets/images/news-image-default.jpg'">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <div class="card-body elegant-color white-text rounded-bottom">
          <h4 class="card-title">
            {{new.title}}
          </h4>
          <small class="text-muted-white">
            <a href='{{new.url}}' class="text-white">
              {{new.source.name}}
            </a>
          </small>
          <hr class="hr-light">
          <div class="card-text white-text mb-4">
            {{new.description | wordLength : 175}}
          </div>
          <small class="text-muted">{{new.publishedAt | date:'medium'}}</small>
          <a href="{{new.url}}" class="white-text d-flex justify-content-end">
            <h5>Read more
              <i class="fa fa-angle-double-right"></i>
            </h5>
          </a>
        </div>
      </div>
    </div>
  </div>
  <small>
    Powered by newsapi.org
  </small>
</div>
