<div class="container-fluid p-5">
  <div class="section profile-content mt-5 pt-4 pb-4">
        <h2 class="title text-center">Ready to change the world, {{this.user.username}}?
          <br />
        </h2>
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto text-center">
        <h5>Have you done any new research? <br> Share it!</h5>
        <br />
        <a class="btn peach-gradient btn-rounded white-text" [routerLink]="['/add-factory']">Add a factory</a>
      </div>
    </div>
  </div>
  <app-list-factories></app-list-factories>
</div>

