html,
body {
  width: 100%;
  height: 100%;
  margin:0;
  background-color: white;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

a:hover {
  color: #ffd86f;
}

h1, h2, h3 {
  font-weight: 700;
}

.title-nav {
  font-weight: 700;
}

.navbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
  color: #ffd86f;
}

.back-to-profile{
  font-size: 13px;
  font-weight: 400;
}
.container-fluid {
  position: relative;
  padding-left: 0px;
  height: 90vh;
}

.type-bold {
  font-weight: 800;
}

p {
  font-weight: 400;
}

/*quiz page*/
.quiz {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 50px;
  text-align: center;
  transition: color 0.2s ease-out, background-color 0.2s ease-out;
}

.answers {
  font-size: 30px;
}

.mx-w-50{
  max-width: 600px;
  width: 600px;
  white-space: normal;
}

/* Checkbox */
.container-check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container-check:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-check input:checked ~ .checkmark {
  border: 5px solid black;
}

.btn-next {
  padding: 15px 50px;
  border: 5px solid black;
  color: black;
  line-height: 1;
  min-width: 5.575em;
  -webkit-transition: color 0.2s ease-out, background-color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out, background-color 0.2s ease-out;
  transition: color 0.2s ease-out, background-color 0.2s ease-out;
  display: inline-block;
}

.btn-next:hover {
  color: white !important;
  background-color: black !important;
}

.btn-next-inside {
  font-size: 40px;
  margin: 10px 50px;
  /* transform: matrix(1, 0, 0, 1, 0, 0); */
}

.btn-map-inside {
  font-size: 30px;
  margin: 10px 50px;
}

/*map page */

.map-frame {
  position: absolute;
  height: 90vh;
  width:  100%;
  font-size: 60px;
}

agm-map {
  width: 100%;
  height: 90vh;
  position: relative;
}

.map-content {
  z-index: 10;
  position: absolute;
  top: 200px;
  left: 50px;
  width: 390px;
  padding: 10px 0px 0px;
  background-color: black;
  color: #fff;
}

.infowindow{
  width: auto;
  max-width: 400px;
  height: auto;
  max-width: 200px;
  padding: 5px;
  padding-top: 15px;
}
/* News Cards */

.card {
  display: block;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border-radius: 2px;
  font-weight: 700;
  box-shadow: none;
}
.card h4{
  font-weight: 700;
}

.card-img-top {
  height:200px;
  width: 100%;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  display: block;
  overflow: hidden;
}

.img-card img {
  /* width: 100%; */
  /* object-fit: cover; */
  transition: all 0.25s ease;
}

.card-content {
  padding: 15px;
  text-align: left;
}

.card-title {
  font-weight: 700;
  font-size: 1.4em;
}

a {
  color: #000;
  text-decoration: none !important;
}

.card-read-more {
  border-top: 1px solid #d4d4d4;
}
.card-read-more a {
  text-decoration: none !important;
  padding: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

.card{
  font-weight: 700;
}

/*btn peach*/

.btn {
  padding: 0.84rem 2.14rem;
  font-size: 12px;
  font-weight: 700;

  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin: 0.375rem;
  border: 0;
  -webkit-border-radius: 0.125rem;
  border-radius: 0.125rem;
  cursor: pointer;
  text-transform: uppercase;
  white-space: normal;
  word-wrap: break-word;
  color: #fff;
}

.peach-gradient {
  background: -webkit-linear-gradient(50deg, #ffd86f, #fc6262) !important;
  background: -o-linear-gradient(50deg, #ffd86f, #fc6262) !important;
  background: linear-gradient(40deg, #ffd86f, #fc6262) !important;
}

.waves-effect {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  z-index: 1;
}

/* Login and signup*/

.auth{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 300px;
    text-align: center;
}

.error{
  font-weight: 400;
  color: orange;
}

/* Company page */

.center-map{
height: auto;
}
