<div class="MainContainer">
  <app-maps class="ContentContainer"></app-maps>
  <div class="ParallaxContainer">
    <h1>
      War kills. Weapons kills.
    </h1>
  </div>
  <small class="credit">
    Image from Wesaam Al-Badry.
  </small>
  <div class="ContentContainer">
    <div class="Content">
      <p>
        While relatively few countries sell large volumes of weaponry, the buyers are spread across the world. Some of the largest purchasers are in the Middle East and South and East Asia. The sales range from fighter aircraft, helicopters and warships with guided missiles, tanks and armoured vehicles to machine guns and rifles. They also include components and surveillance equipment.
        <br>
        <br>
        There is often confusion about the legality of the arms trade, with the impression given that it is the illegal trade that is damaging while the legal trade is tightly controlled and acceptable. However, the vast majority of arms sold around the world, including those to human rights abusing governments or into conflict areas, are legal and actively supported by governments.
      </p>
    </div>
  </div>
  <app-news class="ContentContainer"></app-news>
</div>
