.MainContainer {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 90vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.ContentContainer {
    position: relative;
  max-height: 90vh;
  padding: 0px;
  display: block;
  background-color: white;
  z-index: 1;
}

.Content {
  max-width: 750px;
  margin: 0 auto;
  padding: 75px 0;
}

p {
  margin: 25px 0;
}

.ParallaxContainer {
  display: flex;
  flex: 1 0 auto;
  position: relative;
  z-index: -1;
  left:-10px;
  height: 50vh;
  justify-content: center;
  align-items: center;
  transform: translateZ(-1px) scale(2);
  background-color: rgb(250,228, 216);
  background-image: url("../../../assets/images/parallax-bg.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:white;
}

.credit {
  font-size: 12px;
  color:black;
}
