<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-md-2  align-items-center">
      <div class="center-map">
        <agm-map #map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom" [styles]="styles" [clickableIcons]="false"
          [mapTypeControl]="false" [streetViewControl]="false">
          <agm-marker [latitude]="marker.lat" [longitude]="marker.lng" [markerClickable]="false">
          </agm-marker>
        </agm-map>
      </div>
    </div>
    <div class="col-md-4 align-items-center">
      <h1>
        {{factory.companyName}}
      </h1>
      <p>Company dedicated to {{factory.activity}}</p>
      <p>Billing €{{factory.billing}}M</p>

      <p>Address: {{factory.address}}, {{factory.zipcode}},</p>
      <p>
        <strong>{{factory.country}}</strong>
      </p>
    </div>
    <div class="col-md-6 align-items-center">
      <div *ngIf="factory.country">
        <app-country-exports [exportCountry]="factory.country"></app-country-exports>
      </div>
    </div>
  </div>
</div>
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASqvdUmBMrb4nRgdJfkT7WlhOGA1VKTOw"></script> -->
